.form {
  display: flex;
  flex-direction: column;
  border: 1px solid #d09c9c;
  border-radius: 15px;
  background: white;
  padding: 20px 50px 20px 50px;
}

.form__title {
  text-align: center;
  font-size: 24px;
}

.form__label {
  text-align: start;
  padding-top: 10px;
  font-size: 12px;
  padding-bottom: 4px;
}

.form__input {
  font-size: 12px;
  min-width: 260px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #d09c9c;
  height: 30px;
  padding-left: 16px;
}

.btn__container {
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 10px;
  width: 80px;
  height: 30px;
  border: 1px solid #d09c9c;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background: #d56c6c;
  color: white;
  border: none;
}

.error__message {
  position: absolute;
  font-size: 6px;
  color: red;
  padding: 0;
  margin: 0;
}
